.navbar-brand{
    font-family: 'Spectral SC', serif;
    font-size: 20px;
}

.navbar-brand{
    font-family: 'Spectral SC', serif;
    font-size: 32px;
}


.nav-link{
    text-transform: uppercase;
    margin-right:10px;
    font-size: 15px;
    font-family: 'Fjalla One', sans-serif;


}
.nav-link:hover{
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    transform :scale(1,01);
    background-color: #e4d1c4;
}

.flaticon-phone-call::before {
    font-size: 20px;

}

.phonenumber {
    margin-top: 5px;
    margin-bottom: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    text-align: right;
    color: black;
}

.phonenumber>a {
    text-decoration: none;
    color:  black ;
}

.mail {
    color: white;
    background-color: black;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;

}

.flaticon-mail::before {
    margin: 0%;
}

.flaticon-maps-and-flags::before {
    margin-left: 0;
}


.flaticon-phone-call::before {
    font-size: 20px;
}


.container-style {
    background-color: #fcbbab;
}




/**/
h1{
    text-align: center;
    color: #e4d1c4;
    font-family: 'Spectral SC', serif;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
}

.emphasis {
    font-size: 60px;
}

/*common*/

.jumbotron-style {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: white;
    border-radius: 0.3rem;
}

hr.hr-text {
    position: relative;
    border: none;
    height: 1px;
    background: #999;
    font-family: 'Spectral SC', serif;
    color: #fcbbab;
}

hr.hr-text::before {
    content: attr(data-content);
    display: inline-block;
    background: #fff;
    font-weight: bold;
    font-size: 1.25rem;

    border-radius: 30rem;
    padding: 0.2rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fcbbab;
}