@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$background: #f3f2f5;
$textcolor: black;
$carol: #fcbbab;
$beige: #e4d2c4;
$brown: #c9ac9c;

$beau-font: 'Domine', serif;
$info-font: 'Montserrat', sans-serif;



// navbar css start
.nav-link{
    text-transform: uppercase;
    margin-right:10px;
    font-size: 15px;
    font-family: 'Fjalla One', sans-serif;
}

.nav-link:hover::after {
    content:'';
    display: block;
    border-bottom: 3px solid #e4d1c4;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    padding-bottom: -8px;
}

.flaticon-phone-call::before {
    font-size: 20px;
}

.phonenumber {
    margin-top: 5px;
    margin-bottom: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    font-style: normal;
}

.phonenumber>a {
    text-decoration: none;
    color:  black ;
}

@keyframes animate {
    from{
        background-position: 0 0 ;
    }to{
        background-position: 100% 0;
    }
}


// contact us page start
p{
    font-family: $info-font;
    font-size: 12px;
}

h1{  
    font-weight: 300;
    font-family: $beau-font;
    color: $background;
    text-align:right;
}

h4{
    font-family: $beau-font;
    font-weight: 200;
    color: $textcolor;
}



h5{
    font-family: $info-font;
}

.container{ 
    margin: auto;
    width: 100%;
    background: $beige;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto auto auto ;
    


}

.top-bar{
    grid-column: 2 /3;
    
}
nav{
    grid-column: 1/3;
    
    
}

.container2{
    margin: auto;
    width: 40%;
    background: $beige;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 20px;
}


.pic{
    width:100%;
    grid-column: 1 /2 ;
    grid-row: 3 / 4;
  
    background-image: url('img/vertical.jpg');
    background-size: cover;
    

}

img {
    object-fit: contain;
  width: 100%;
  height: 100%;
}


.cap-letter{
    font-weight: 300;
    letter-spacing: -1.5px;
    text-align: right;
    font-size: 70px;
}



.topic{
    text-align: right;
    padding: 60px 0px;
}



form{
    font-family: $info-font;
    color: $textcolor;
}

input, textarea{
    border: none;
    $background:$textcolor;
    $color: $background;
    font-family: $info-font;
    width: 300px;
    
}

// call start
.phone{
    a{
        text-decoration: none;
    }
    p{
        font-size: 12px;
        font-family: $info-font;
    }
}

// google map css
#map{
    width: 300px;
    height: 200px;    

}



//media screen
@media only screen and (max-width: 700px){
    .container{
        width:100%;
        margin: auto;
        display: flex;
        flex-direction: column;

    }

    .pic{
        flex: 100%;
        height: 200px;
        width: 100%;
    }

    .container2{
        flex: 100%;
        width: 300px;
        grid-template-columns: 1fr;
        
    }

}

