.navbar-brand{
    font-family: 'Spectral SC', serif;
    font-size: 32px;
}


.nav-link{
    text-transform: uppercase;
    margin-right:10px;
    font-size: 15px;
    font-family: 'Fjalla One', sans-serif;
}

.nav-link:hover::after {
    content:'';
    display: block;
    border-bottom: 3px solid #e4d1c4;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    padding-bottom: -8px;
}

img{
    width: 220px;
    height:150px;
    margin-left: 450px;
   margin-top: 290px;
   -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    
  }
   
  .zoom-effect:hover  .img {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
  }
  
  
  

.container {
    background-image: url(woman.jpg);
    width: 100%;
    height: 600px;
    position: relative;
    background-repeat: repeat-x;
    animation: animate 20s linear infinite;
}

@keyframes animate {
    from{
        background-position: 0 0 ;
    }to{
        background-position: 100% 0;
    }
}

h1{
    text-align: center;
    color: #e4d1c4;
    font-family: 'Spectral SC', serif;
}

p{
    text-align: center;
    color: #e4d1c4;
    font-family: 'Spectral SC', serif;
    font-style: italic;
    font-size: 20px;

}



a.button {
   position: absolute;
   top:100%;
   left: 43%;
   line-height: 60px;
   color:white;
   font-size: 24px;
   text-transform: uppercase;
   box-sizing: border-box;
   background: linear-gradient(90deg,#ffcc99 ,#ffffff , #e4d1c4);
   background-size: 400%;
   border-radius: 10px;
   font-family: 'Spectral SC', serif;
   
 
}

a:hover{
    animation:animate 8s linear infinite;
}





.flaticon-phone-call::before {
    font-size: 20px;
}

.phonenumber {
    margin-top: 5px;
    margin-bottom: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-style: normal;
    text-align: right;
}

.phonenumber>a {
    text-decoration: none;
    color:  black ;
}


