.navbar-brand{
    font-family: 'Spectral SC', serif;
    font-size: 20px;
}

.nav-link{
    text-transform: uppercase;
    margin-right:10px;
    font-size: 15px;
    font-family: 'Fjalla One', sans-serif;
}

h1 {
    position: absolute;
    padding-top: 80px;
    padding-left: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(94, 66, 94);
}

.emphasis {
    font-size: 60px;
}

.flaticon-phone-call::before {
    font-size: 20px;
}

.phonenumber {
    margin-top: 5px;
    margin-bottom: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    font-style: normal;
}

.phonenumber>a {
    text-decoration: none;
    color:  black ;
}

