body {
    background-color: #f3f2f5;
}

.nav-link{
    text-transform: uppercase;
    margin-right:10px;
    font-size: 15px;
    font-family: 'Fjalla One', sans-serif;
}

h1 {
    position: absolute;
    padding-top: 80px;
    padding-left: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(94, 66, 94);
}

.emphasis {
    font-size: 60px;
}

.phonenumber {
    margin-top: 5px;
}

.phonenumber>a {
    text-decoration: none;
    color:  rgb(117, 83, 117); ;
}